a:hover {
    color: violet;
    text-decoration: none;
    font-weight: bold;
}
ul li{
    color: rgb(155, 22, 111);
    font-weight: bold;
    list-style: none;
    padding: 15px;
    
}
.aboutme {
    float: right;
}
.nav {
    display: flex;
    margin-top: -50px;
    float: right;
    
}
hr {
    width: 100%;
}